*{
	margin: 0px auto;
	padding: 0px;
}
body{
	background:#fff url(life_img/article2_img2.jpg) repeat fixed top center;
}
.wrap{
		max-width: 90%;
	}
	
header a{
	margin-right: 20px;
	text-decoration: none;
	color: rgba(131, 128, 98, 0.88);
}
header a:hover{
	text-decoration: underline;
	color: rgba(255, 54, 0, 0.89);
}
header h5{
	margin-left: 10px;
	margin-top: 12px;
	bottom: 2px;
	text-align: right;
		color: blue;
}
.title{
	font-family: 微软雅黑;
	margin: 0 auto;
	text-align: center;
	text-shadow:35px;
	color: rgba(86, 219, 144, 0.75);
}
#article2{
	padding-top: 30px;
	margin: 40px auto;
	
   border: 2px solid #ccc;
   border-radius: 2%;
   background-color: rgba(123, 123, 123, 0.55);
   color:#53A1C0;
}
#article2_img{
	margin-top: 40px;
	position: relative;
	top: -100px;
	width: 100%;
}
article{
	font-size: 12px; 
	font-family: 华文宋体;
	margin: 8px;
	
	/*overflow: auto ;*/
}
.second_title{
	font-family: 华文仿宋;
	font-size: 15px;
	margin: 5px;
	color: black;
}
.time{
	color: green;
	text-align: right;
	padding-right: 5px;
}
