*{
	margin: 0 auto;
	padding: 0;
}
header nav{
	width: 20%;
	float:right;
	background-color: rgba(222,222,222,0.5);
}

header ul{
	list-style: none;
	margin: 15px;
}
header ul li{
	margin: 10px;
	text-align: left;
	font-size: 1.5em;
}
header ul li a{
	text-decoration: none;
	color: #185C59;
	font-family:  "Comic Sans MS",cursive,sans-serif;
}
body{
	background-color: rgba(88, 161, 132, 0.5);
}
#wrap{
	width: 70%;
	margin: 250px auto;
}

.title{
	font-family: 'Arial Black', Gadget, sans-serif;
	margin: 0 auto;
	text-align: center;
	text-shadow:35px;
}
hr{
	color: #138713;
	width: 80%;
	vertical-align: left;
	height: 2px;
}
#article1{
	padding-top: 30px;
	margin-top: 40px;
	width: 80%;
   border: 2px solid #ccc;
   border-radius: 2%;
   background-color: rgba(123,123,123,0.2);
}
article{

	margin: 30px;
	height: 700px;
	overflow: auto;
}
#article1-img{
	margin-top: 40px;
	position: relative;
	top: -100px;
	width: 100%;
}
.time{
	float: right;
	color: #806;

	margin-right: 25px;
}
#article2{
	padding-top: 30px;
	margin-top: 40px;
	border: 2px solid #ccc;
	width: 80%;
   border-radius: 2%;
   background-color: rgba(123,123,123,0.2);
}
#article2-img{
	position: relative;
	width: 100%;
}
#title4{
	color: red;

}
#article4{position: relative;
	margin-top:40px; 
	width: 80%;
   border: 2px solid #ccc;
   border-radius: 2%;
   background-color: rgba(123,123,123,0.2);
}
#article4-img1,#article4-img2{
	position: relative;
	width: 100%;

}

#img-nav{
	width: 100%;position: absolute;
 
	top: 0px;
	left: 25%

}
header div div{
	margin: 40px auto;
	width: 150px;height: 150px;
	float: left;
}
header div div a{
	width: 100px;height: 100px;
	float: left;
	text-decoration: none;
}
header div div a img{
	border-radius: 60%;
	width: 100px;height: 100px;

}
header div div a h5{
	height: 40px;
	margin: 5px;
	font-size: 20px;
	text-align: center;
	color: #555;
}
#img-nav2{
	left: 200px
}
#article5{
    padding-top: 30px;
	margin-top: 40px;
	border: 2px solid #ccc;
	width: 80%;
   border-radius: 2%;
   background-color: rgba(123,123,123,0.2);
}
#title5{
	color: red;
}