body{background: #eee;}
div h1{
    position: relative;
	margin: 100px auto;
	font-size: 70;
	text-align: center;color: #186;
	height: 100px; 
	text-shadow:5px 5px 5px #124;
}
#photos{position: relative;
	border-radius: 15%;
	width: 80%;
	height: 950px;
	background-color: rgba(7, 18, 99, 0.3);
	margin: 100px auto;
	}
#img1,#img2,#img3,#img4,#img5,#img6,#img7{
	width: 250px;height: 250px;
	padding: 10px 10px 10px;background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 25px;
	box-shadow: 13px 13px 13px #555;
	-moz-transition:1.5s;
}

#img1{
	position: absolute;top: 45px;left: 60px;
	-moz-transform:rotate(-15deg);
}
#img1:hover{-moz-transform:rotate(0deg);-moz-transform:scale(1.3);z-index: 6;}
#img2{
position: absolute;top: 30px;left: 300px;
-moz-transform:rotate(60deg);
}
#img2:hover{-moz-transform:scale(1.3)rotate(90deg);z-index: 6;}
#img3{
	position: absolute;top: 220px;left: 285px;
	-moz-transform:rotate(110deg);
}
#img3:hover{-moz-transform:rotate(90deg)scale(1.3);z-index: 6;}
#img4{
	position: absolute;left: 180px;top:365px;
	-moz-transform:rotate(-10deg);
}
#img4:hover{-moz-transform:rotate(0deg)scale(1.3);z-index: 6;}
#img5{
	position: absolute;top: 600px;left: 140px;
	-moz-transform:rotate(75deg);
}
#img5:hover{-moz-transform:rotate(90deg)scale(1.3);z-index: 6;}
#img6{
	position:absolute;left: 356px;top: 546px;
	-moz-transform:rotate(55deg);
}
#img6:hover{-moz-transform:rotate(90deg)scale(1.3);z-index: 6;}
#img7{
	position: absolute;left: 500px;top: 445px;
	-moz-transform:rotate(30deg);
    
}
#img7:hover{
	-moz-transform:rotate(0deg)scale(1.3);z-index: 6;
}