/*设置页面总体CSS*/

html {
    height: 100%;
}

body {
    height: 100%;
}

.all_wrap {
    overflow: hidden;
    /*height: 100%;*/
    position: absolute;
    top: 70px;
    width: 100%;
}

.ul_wrap {
    position: relative;
    overflow: hidden;
    /*height: 100%;*/
    
    width: 100%;
}

.ul_wrap ul {
    width: 100%;
    height: 100%;
    padding: 0;
}

.pages {
    float: left;
    width: 100%;
    height: 100%;
    list-style: none;
}
/*删掉了侧边栏*/

.side_bar {
    position: fixed;
    /*	top: 0;*/
    
    z-index: 20;
    width: 100%;
    padding: 20px;
    background:rgba(58, 65, 61, 0.66);
}

.nav_iconShow {
    display: block;
}

.nav_icon {
    position: fixed;
    z-index: 21;
    left: 0;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.nav_icon:active {
    -webkit-animation: myfirst 5s;
    animation: myfirst 5s;
}

@keyframes myfirst {
    0% {
        color: red;
    }
    50% {
        color: green;
    }
    100% {
        color: #428bca;
    }
}

@-webkit-keyframes myfirst {
    /* Safari and Chrome */
    
    0% {
        color: red;
    }
    50% {
        color: green;
    }
    100% {
        color: #428bca;
    }
}

@keyframes show_hide {
    0% {
        top: 0;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes show_hide {
    0% {
        top: 0;
    }
    100% {
        top: 0;
    }
}
/*侧边栏内部式样*/

.home_wrap {
    float: left;
    margin: 20px 0;
}

.icon-home,
.icon-list-alt {
    font-size: 50px;
    padding: 8px;
    cursor: pointer;
    color: white;
    border: 4px solid white;
    border-radius: 100%;
}

.icon-user {
    font-size: 50px;
    padding: 12px;
    cursor: pointer;
    color: white;
    border: 4px solid white;
    border-radius: 100%;
}

.icon-home:hover,
.icon-list-alt:hover,
.icon-user:hover {
    color: rgba(255, 255, 255, .9);
    border: 4px solid green;
    background-color: rgba(68, 106, 71, 1);
    /*border-radius: 0%;*/
}

.nav_icon span {
    z-index: 30;
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px 0;
    background-color:rgba(76, 169, 65, 0.69);
}

.page_wrap {
    position: relative;
}
/*顶部样式*/

.relative{
    position: relative;
    width: 100%;
    height:600px;
    overflow: hidden;
}
#welcome_context {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    height: 450px;
    /*本来想设置成单页面全屏效果，后来为了适配移动端还是放弃了，呜呜。。。*/
    
    border: 1px solid white;
    background: linear-gradient(to right, #3d7c72 0, #450c79 100%);
}

#name {
    font-size: 65px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2em;
    margin-top: 60px;
    letter-spacing: 10px;
    color: white;
}

.top_contact{
    margin-top:350px; 
}

#demo3 h3 {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
}

#demo3 h4 a {
    line-height: 20px;
}

.show_me img {
    width: 80px;
    margin-top: 220px;
    margin-bottom: 15px;
}

#demo3 .contact_me {
    border-right: 2px solid #eee;
}

.icon-envelope-alt {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.icon-github {
    font-size: 30px;
}

.work_icon {
    font-size: 100px;
    color: #318f48;
}

.work_wrap {
    margin-top: 80px;
    /*width: 80%;*/
}

.work_wrap h1 {
    margin-bottom: 80px;
}

.work_on h1 {
    color: rgba(35, 139, 48, .86);
}

.rder-right {
    border-right: 2px solid #eee;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    width: 100%;
}

.white {
    color: white;
}

.footer {
    /*height: 300px;*/
    
    margin-top: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, #7c8886 0, #1f2221 100%);
    background: linear-gradient(to bottom, #7c8886 0, #1f2221 100%);
}

.footer h4,
h5 {
    color: rgba(255, 255, 255, .32);
}

.footer li {
    margin: 10px;
}

.footer_icon {
    font-size: 40px;
    color: rgb(134, 139, 138);
}
